<link rel="stylesheet" href="css/style.css">

<div class="bg">

<center>
<header>
<center><p>Welcome To Cresong's Pizz'o'rama</p></center>
</header>

<hr>
<p>
<%=size%>
<br>
<div class="<%=size%>">
</p><br>
</div>

<hr>

<body>
<form method = 'post' action = '/checkselected'>

<p>
<%=crust%>
</p>
<div class="<%=crust%>">
</div>

<hr>

<p>
Meats:<br>
</p>
<%meats.each do|v|%>
<p>
<%=v%><br>
</p>
<div class="<%=v%>">
</div><br>
    <p>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?
     </p>
     <hr>
<%end%>

<p>
Vegetables:
</p>
<%veg.each do|v|%>
<p>
<%=v%><br>
</p>
<div class="<%=v%>">
</div>
    <p>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?
    </p>
    <hr>
<%end%>

<p>
Extras:
</p>
<%extras.each do|v|%>
<p>
<%=v%><br>
</p>
    <div class="<%=v%>">
</div>
    <p>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?
    </p>
    <hr>
<%end%>

<h2 id="delivery">
<input type="radio" name="delivery" value="New Pizza">New Pizza?<br>
<p>Delivery?</p>
<input type="radio" name="delivery" value="Yes">Yes
<input type="radio" name="delivery" value="No" checked>No
</h2>

<input type="submit" value="Submit">
<input type="button" value="Reset" onclick="window.location.href='/'"/> 
<input type="hidden" name="size" value='<%=size%>'>
<input type="hidden" name="crust" value='<%=crust%>'>
<input type="hidden" name="meat" value='<%=meats%>'>
<input type="hidden" name="veggies" value='<%=veg%>'>
<input type="hidden" name="extras" value='<%=extras%>'>
<input type="hidden" name="apizza" value='<%=anotherpizza%>'>
</center>
</form>
</body>
</div>