<link rel="stylesheet" href="css/style.css">

<center>

<header>
<center><p>Welcome To Cresong's Pizz'o'rama</p></center>
</header>

<hr>

<%=size%>
<br>
<div class="<%=size%>">
<div>
<br><br><br><br><br><br>


<hr>

<body>
<form method = 'post' action = '/checkselected'>
<p>

<p>
Crust?<br><br>
<img class="<%=crust%>"><br>
<%=crust%>
</p>

<hr>

Meats:

</p><br>
<%meats.each do|v|%>
<div class="<%=v%>">
<br>
</div>
    <%=v%><br>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?<br><br>
<%end%><br><br>

<hr>

<p>
Vegetables:
</p><br>
<%veg.each do|v|%>
<div class="<%=v%>"><br>
</div>
    <%=v%><br>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?<br><br>
<%end%><br><br>


<hr>

<p>
Extras:
</p><br>
<%extras.each do|v|%>
    <div class="<%=v%>"><br>
</div>
    <%=v%><br>
    <input type="radio" name="<%=v%>" value="Yes" checked>Keep?<br>
    <input type="radio" name="<%=v%>" value="No" >Discard?<br><br>
<%end%><br><br>

<hr>


<%if delivery == "Yes"%>
<p>
</p> <br>
<p>Address?</p>
<input type="text" name="address">
<hr>
<%end%>




<br>
<input type="submit" value="Submit">
<input type="hidden" name="size" value='<%=size%>'>
<input type="hidden" name="crust" value='<%=crust%>'>
<input type="hidden" name="meat[]" value='<%=meats%>'>
<input type="hidden" name="veggies[]" value='<%=veg%>'>
<input type="hidden" name="extras[]" value='<%=extras%>'>
<input type="hidden" name="delivery" value='<%=delivery%>'>
</center>
</form>
</body>

