<link rel="stylesheet" href="css/style.css">

<center>
<header>
Pizza size:
</header><br>
<img src=https://via.placeholder.com/140x100><br>
<%=size%><br><br>


<hr>
<body>
<form method = 'post' action = '/checkselected'>

<p>
Crust?<br><br>
<img src=https://via.placeholder.com/140x100><br>
<%=crust%>
</p>

<hr>


<%if meats != ""%>
Meats:
<br>
<%meats.split(",").each do |v|%>
<div class="<%=v%>">
<img src=https://via.placeholder.com/140x100><br>
</div>
<%=v%><br><br>
<%end%>
<hr>
<%end%>


<%if veg != ""%>
Vegetables:
<br>
<%veg.split(",").each do |v|%>
<div class="<%=v%>">
<img src=https://via.placeholder.com/140x100><br>
</div>
<%=v%><br><br>
<%end%>
<hr>
<%end%>


<%if extras != ""%>
Extras:<br>
<%extras.split(",").each do |v|%>
<div class="<%=v%>">
<img src=https://via.placeholder.com/140x100><br>
</div>
<%=v%><br><br>
<%end%>
<hr>
<%end%>


<p>
<%=address%>
</p> 


