<center>
<header>
Your finalized order!
</header>

<p>
Pizza size:
</p><br>
<%=size%><br><br>

<hr>
<body>
<form method = 'post' action = '/checkselected'>
<p>
Meats:
</p><br>
<%meats.each do|v|%>
    <%=v.concat(" ")%>
<%end%><br><br>

<hr>

<p>
Vegetables:
</p><br>
<%veg.each do|v|%>
    <%=v.concat(" ")%>
<%end%><br><br>

<hr>

<p>
Extras:
</p><br>
<%extras.each do|v|%>
    <%=v.concat(" ")%>
<%end%><br><br>

<hr>

<p>
Delivery?
</p> <br>
<%=delivery%>


<hr>

</center>
</form>
</body>