<link rel="stylesheet" href="css/style.css">

<div class="bg">

<center>

<header>
<center><p>Welcome To Cresong's Pizz'o'rama</p></center>
</header>

<hr>

<p>
<%=size%>
<br>
<img class="<%=size%>"<br>
</p>
<br>


<hr>
<body>
<form method = 'post' action = '/checkselected'>

<p>
<%=crust%><br>
<img class="<%=crust%>"><br>
<p>


<hr>


<%if meats != ""%>
<p>
Meats:
</p>
<br>
<%meats.split(",").each do |v|%>
<p>
<div class="<%=v%>">
<img class="meat"><br>
</div>
<p>
<%=v%>
</p>
<%end%>
<hr>
<%end%>


<%if veg != ""%>
<p>
Vegetables:
</p>
<br>
<%veg.split(",").each do |v|%>
<div class="<%=v%>">
<img class="veg"><br>
</div>
<p>
<%=v%>
</p>
<%end%>
<hr>
<%end%>


<%if extras != ""%>
<p>
Extras:<br>
</p>
<%extras.split(",").each do |v|%>
<div class="<%=v%>">
<img class="extras"><br>
</div>
<p>
<%=v%>
</p>
<%end%>
<hr>
<%end%>


<p>
Price: <%=price%>
</p>

<hr>

<p>
Deliver to:<%=address%>
</p> 
<div>

