<link rel="stylesheet" href="css/style.css">

<center>
<header>
Pizza size:
</header><br>
<%=size%><br><br>

<hr>
<body>
<form method = 'post' action = '/checkselected'>

<p>
Crust?<br><br>
<img src=https://via.placeholder.com/140x100><br>
<%=crust%>
</p>

<hr>

<p>
Meats:
</p><br>
<%if meats != ""%>
<%=meats%>
<%end%>

<hr>

<p>
Vegetables:
</p><br>
<%veg.each do|v|%>
<img src=https://via.placeholder.com/140x100><br>
    <%=v.concat(" ")%><br>
<%end%><br><br>

<hr>

<p>
Extras:
</p><br>
<%extras.each do|v|%>
<img src=https://via.placeholder.com/140x100><br>
    <%=v.concat(" ")%><br>
<%end%><br><br>

<hr>

<p>
Delivery?
</p> <br>
<%=delivery%>


<hr>